:root {
    --header-height: 3rem;

    /* Colors */
    --primary-color: hsl(210, 29%, 10%); /* Dark Navy Blue */
    --secondary-color: hsl(210, 15%, 85%); /* Light Gray */
    --accent-color: hsl(120, 15%, 40%); /* Muted Green */
    --text-color: hsl(210, 8%, 45%);
    --text-color-light: hsl(210, 8%, 65%);
    --body-color: hsl(210, 15%, 99%);
    --container-color: hsl(210, 15%, 95%);
    --scroll-bar-color: hsl(210, 12%, 90%);
    --scroll-thumb-color: hsl(210, 12%, 80%);

    /* Font and typography */
    --body-font: "Roboto", sans-serif;
    --heading-font: "Lato", sans-serif;

    /* Font sizes */
    --big-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    /* Font weights */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* Margins Bottom */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-tooltip: 99;
    --z-fixed: 999;
    --z-modal: 9999;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.75rem;
        --normal-font-size: 1.125rem;
        --small-font-size: 0.938rem;
        --smaller-font-size: 0.875rem;
    }
}

/* Dark theme */
body.dark-theme {
    --primary-color: hsl(210, 29%, 15%);
    --secondary-color: hsl(210, 15%, 30%);
    --accent-color: hsl(120, 15%, 50%);
    --text-color: hsl(210, 8%, 75%);
    --text-color-light: hsl(210, 8%, 90%);
    --body-color: hsl(210, 15%, 15%);
    --container-color: hsl(210, 15%, 20%);
    --scroll-bar-color: hsl(210, 12%, 48%);
    --scroll-thumb-color: hsl(210, 12%, 36%);
}
